$color-active: #4fbd9b;
$color-secondary: #fff;
$color-alt: #ed145b;

$color-pane: #363740;
$color-text: #939393;
$color-textDark: #46454b;

$color-white: #ffffff;

// Vars
$navbar: 120px;
$footer: 40px;