@import '../../style/variables';

.footer {
	height: $footer;
	text-align: right;

	a {
		font-weight: 500;
		font-size: (12em/16);
		color: $color-white;
		text-align: right;
		text-decoration: none;
		line-height: $footer;
	}
}